Source: kodi-visualization-shadertoy
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-addon-dev, libglm-dev,
               libgles2-mesa-dev [arm64 armhf], libgl1-mesa-dev [i386 amd64]
Standards-Version: 4.1.2
Section: libs
Homepage: https://kodi.tv

Package: kodi-visualization-shadertoy
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Shadertoy visualization for Kodi
 Shadertoy visualization for Kodi

Package: kodi-visualization-shadertoy-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Shadertoy visualization for Kodi
 debug symbols for Shadertoy visualization for Kodi

